  <!-- ======= Hero Section ======= -->
  <script src="https://unpkg.com/aos@next/dist/aos.js">
    AOS.init({
    // ... your other initialisation options here ...
    once: true,
    });
  </script>

  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos-once="true" data-aos="fade-up" data-aos-delay="0">
          <h1>Architecture Review</h1>
          <h2>Get a review on your AWS architecture</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a class="btn-get-started scrollto" style="margin-right: 20px;" target="_blank" href="https://aws.amazon.com/bedrock/">More on AWS Bedrock</a>
            <a class="btn-get-started scrollto" href="#faq">FAQs</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="../assets/img/bedrock-image.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
</section><!-- End Hero -->

<div class="container">
  <p class="ml-5 pt-1 typing"></p>
      <b>Disclaimer:</b> This is a demo app. Information provided by this app is for demo purposes only.
  </p>
</div class="container">

