    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Frequently Asked Questions</h2>
          </div>
  
          <div class="faq-list">
            <ul>
              <li data-aos="fade-up" data-aos-duration="500">
                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">How does this website work? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                  <p>
                    This website works best on Google Chrome for recording voice conversations. It uses the Google Chrome microphone plugin to record a conversation by clicking on the record button. Once you have finished recording a conversation, click on stop recording. When you do this, the Transcribe button appears. When you click the Transcribe button, the recorded conversation is sent to AWS Transcribe and then to AWS Bedrock for summarisation. The response is sent back to the web page and the text is displayed in a text box. Have a go, it's fun!
                  </p>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">How is this app built? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    The website is built on Node.js and uses Express as the middleware. The front end web page is built using HTML, CSS and Javascript. The web page is a template from Bootstrap. Most of the code has been sourced from the internet but then formatted appropriately. For example, the AWS Bedrock Node.js code for AWS Bedrock was taken from these code examples.<a target="_blank" href="https://docs.aws.amazon.com/sdk-for-javascript/v3/developer-guide/javascript_bedrock_code_examples.html">https://docs.aws.amazon.com/sdk-for-javascript/v3/developer-guide/javascript_bedrock_code_examples.html.</a>
                  </p>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Can I use this to record any conversation? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    No. This is a demo app only used for learning purposes. It cannot be used to record conversations without permissions. As the website developer, I take no responsbility for anyone using this web app to record any conversation. It may work or it may not. It's purely built to demo the power of AWS Bedrock.
                  </p>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="400">
                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Why was this web app built? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    I did this for 2 main reasons. One, so that I could learn AWS Bedrock. Two, so I can build on this to learn more about our AI and GenAI tooling on AWS. Having hands on experience for me is a great way to learn AWS Services and SDKs.
                  </p>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="500">
                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Can I contribute to this code? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                  <div class="typewriter">
                    <p>
                      For sure - reach out to @oliverle for more information and access to the git repo running on Gitlab.
                    </p>
                  </div>
                </div>
              </li>

                
              <li data-aos="fade-up" data-aos-delay="600">
                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Is any data saved? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                  <div class="typewriter">
                    <p>
                      No, any data is temporarily saved but deleted after the API call complete. Even if a call fails, the error code is cuaght and the files cleaned up. This only applies for voice recordings as other inputs are all in memory and transient.
                    </p>
                  </div>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="600">
                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Is this app free? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                  <div class="typewriter">
                    <p>
                      Yes. Did you sign up or put any credit card details in? Don't go mad. This app is for demo purposes only.
                    </p>
                  </div>
                </div>
              </li>

            </ul>
          </div>
  
        </div>
      </section><!-- End Frequently Asked Questions Section -->